<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/menu.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="menu-container" id="menu-container">
        <section class="menu-section">
            <h2>Pizzas Tradicionais</h2>
            <div class="pizza-grid" id="tradicionais"></div>
        </section>

        <section class="menu-section">
            <h2>Pizzas Doces</h2>
            <div class="pizza-grid" id="doces"></div>
        </section>
    </div>
</body>
</html>