<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
        <header class="header-div">
        <div class="container">
            <h1>Bella Itália</h1>
            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="/menu">Cardápio</a></li>
                    <li><a href="/reservas.html">Sobre Nós</a></li>
                    <li><a href="/contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
        <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3 class="footer-logo">Bella Itália</h3>
                <p>As melhores pizzas, feitas por profissionais!</p>
                <div class="social-icons">
                    <a href="#"><img src="/images/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="/images/instagram.png" alt="Instagram"></a>
                    <a href="#"><img src="/images/twitter.png" alt="Twitter"></a>
                </div>
            </div>

            <div class="footer-column">
                <h4>Links Úteis</h4>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/menu">Cardápio</a></li>
                    <li><a href="/reservas.html">Sobre Nós</a></li>
                    <li><a href="/contato.html">Contato</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Informações de Contato</h4>
                <p>Rua dos Bobos, 0</p>
                <p>Garanhuns, PE</p>
                <p>(87) 4002-8922</p>
                <p><a href="mailto:info@bellaitalia.com">info@bellaitalia.com</a></p>
            </div>
        </div>
    </footer>
</body>
</html>